/*@media for tablet size*/
/*@media (min-width: 425px) {
    !*HEADER START*!
    .header{
        padding: 0 1.6rem;
        transition: 1s;
    }
    !*Setting up the logo "Kirubel T"*!
    .header .logo {
        font-size: 1.6rem;
    }
    !*Setting up the drop down button*!
    #menu_btn{
        font-size: 2.8rem;
    }
    !*Setting up the nav bars container*!
    .header .navbar {
        top: 3.7rem;
    }
    !*Setting up the nav bars buttons*!
    .header .navbar a{
        font-size: 1.4rem;
    }
    !*Is the animation for the drop down*!
    .navbar.active {
        height: 30rem;
    }
    !*HEADER END*!

    !*---------------------------------------------------------------------*!

}*/
/*@media for laptop size*/
@media (min-width: 1024px) {
    :root{
        --body-text-normal:1.1 ;
    }
    .mainSection{
        padding: 0 6rem;
        transition: 1s;
    }
    /*HEADER START*/
    .header{
        padding: 0 1.6rem;
        transition: 1s;
    }
    .header .logo {
        font-size: 1.6rem;
    }
    /*Setting up the drop down button*/
    #menu_btn{
        display: none;
    }
    /*Setting up the nav bars container*/
    .header .navbar {
        position: relative;
        display: flex;
        top: 0;
        background-color: transparent;
        overflow: hidden;
        opacity: 1;
        /*background-color: #ff6535;*/
        height: unset;

    }
    /*Setting up the nav bars buttons*/
    .header .navbar a{
        position: relative;
        margin: 1.8rem 1.4rem;
        opacity: 1;
        font-size: 1.1rem;
    }

    /*Is the animation for the drop down*/

    /*HEADER END*/

    /*---------------------------------------------------------------------*/
    /*HOME START*/
    .home{
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 0;
        padding-top: 2rem;
    }
    /*Setting home page name*/
    .home-image{
        padding-bottom: 0;
        margin-left: 3rem;
    }
    .home-image .kirubelImage{
        min-width: 300px;
    }
    .home .home_name{
        display: none;
        font-size: 2.2rem;
        transition: 1s;
    }
    .home .content .home_name{
        display: flex;
        margin-top: 0;
        margin-bottom: 1rem;

    }
    .home .content{
        order: -1;
        align-items: unset;
        max-width: 34rem;
    }
    .home .content p{
        transition: 1s;
        text-align: unset;
        margin-bottom: 4rem;
    }
    .home_logo {
        order: 1;
        margin-left: 3rem;
    }
    .home_logo .logo {
        padding: 0.3rem ;
    }
    .home-image .geometric-box {
        top: 13rem;
    }
    /*Background art for image*/
    .home-image .home_arrow{
        top: 4rem;
        left: -5rem;
        rotate: 80deg;
        width: 23%;


    }
.home_scrollBox i {
    font-size: 1.6rem;
}
.scrollDown_text {
    display: flex;
}
    /*HOME END*/
    /*---------------------------------------------------------------------*/


}

@media (min-width: 1224px) {
    :root{
        --body-text-normal: 1.25rem;
    }
    .mainSection{
        padding: 0 8rem;
        transition: 1s;
    }
    /*HEADER START*/
    .header{
        padding: 0 10rem;
        transition: 1s;
    }
    /*HEADER END*/
    /*---------------------------------------------------------------------*/

    /*HOME START*/
    .home .home_name{
        display: none;
        font-size: 2.7rem;
        transition: 1s;
    }
    .home .content p{
        transition: 1s;

    }
    /*HOME END*/
    /*---------------------------------------------------------------------*/

}