:root {
    --first-color: hsl(14, 98%, 50%);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);
    --medium-text: 1.8rem;
    --higher-medium-text: 2.7rem;
    --small-text: 1.5rem;
    --heading1-text:3.4rem;
    --heading2-text:2.7rem;
    --body-text:2.7rem;
    --heading3-text: 2.1rem;
    --title-text: 5.5rem;

}
*{
    font-family: 'Bai Jamjuree', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition: .2s linear;
}
body
{
    background: var(--body-color);
}

section
{
    padding:3rem 7%;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


/*Gold Price section*/

/*Disclaimer    */
.disclaimer{
    font-size: var(--medium-text);
    text-align: center;
    margin-top: 3rem;
}
/*For the time button*/
.priceTime{
    display: flex;
    width: fit-content;
    color: white;
    margin: 0 auto 5rem auto;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
    background: var(--black-color);
    transition: all 0.4s ease;
}
.priceTime span{
    background: var(--black-color);
    padding:2rem 1.6rem;
    font-size: var(--heading2-text);
}
.priceTime span.active{
    background: var(--white-color);
    color:var(--black-color);
    padding: 2rem 1.8rem;
    display: inline;
    font-size: var(--heading2-text);
}
/*For the row of the button*/
 .pricing-row{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap:2rem ;
}
.pricing-col{
    position: relative;
    padding: 6rem 0 6rem 1rem; /* Adjust padding for smaller screens */
    border: 2px solid var(--black-color);
    background: var(--white-color);
    transition: all 0.4s ease;
    cursor: pointer;
}
 .pricing-col:hover{
    transform: translateY(-7px);
    background: var(--container-color);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 1);
}
 .package-text{
    font-size: var(--heading1-text);
    text-align: center;
    margin-bottom: 4rem;
    cursor: pointer;
}

 .pricing-col h1
{
    text-align: center;
    font-size: var(--heading2-text);
    margin-bottom: 3.4rem;
}
 .pricing-col span{
    display: inline;
    font-weight: 300;
}


 .pricing-col p{
    font-size: var(--higher-medium-text);
    margin: 1.2rem 0;
    transition: all 0.1s ease;

}
.pricing-col p i {
    color: green;
    margin-right: 0.4rem;
}
.bronze-col h1{
    position: absolute;
    top: 4rem;
    left: 3.4rem;
    font-size: var(--medium-text);
    margin-bottom: 2rem;
}

