:root
{
        --first-color: hsl(14, 98%, 50%);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    --large-text: 4.3rem;
    --medium-text: 3.5rem;
    --small-text: 2.5rem;

    --heading1-text:3.4rem;
    --heading2-text:2.7rem;
    --body-text:2rem;
    --heading3-text: 2.1rem;
    --title-text: 5.5rem;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.3rem;
    --smaller-font-size: 1.2rem;

}
*{
    font-family: 'Bai Jamjuree', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration:none;
    transition: .2s linear;
}
html {
    font-size: 100px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body
{
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    position: relative;
}
.mainSection{
    padding: 0 30px;

}

section
{
    /*background-color: #ff6535;*/
    padding: 0 4rem;
}

html {
    font-size: 9px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*A default for btn */
.btn
{
    color: var(--white-color);
    background: var(--black-color);
    font-size: 1.3rem;
    padding: 10px 16px;

}
.geometric-box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--first-color);
    rotate: -30deg;
    z-index: 20;
}
/*this box does not rotate*/
.geometricBox {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--first-color);
}

.geometric-box::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid var(--black-color);
    left: -5px;
    top: -5px;
}

/*The nav and the header*/
.header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background: var(--body-color);
    padding: 1.5rem 0;
    gap: 40rem;

    z-index: 10000;
}

.header .logo{
    font-size: var(--h1-font-size);
    color: var(--black-color);

}

.header nav a{
    position: relative;
    color: var(--black-color);
    font-size: var(--h2-font-size);
    margin: 3rem;
    transition: all 0.4s ease;
}
.underline-effect::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 0.209rem;
    background: var(--black-color);
    transition: 0.2s linear;
}

#menu_btn{
    display: none;
    color: var(--black-color);
    cursor: pointer;
}
.underline-effect:hover::before {
    width: 70%;
}
/*For the nav bar when you click it*/
.effect::before{
    width: 70%;
}
/*for screens less than 900px when you click the menu btn*/
.navbar.active{
    height: 42rem;
    opacity: 1;
}
.navbar.active a{
    opacity: 1;
}

/*                    Home                             */
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
    gap: 2rem 6rem;
    margin-bottom: 27rem;
    /*background-color: #ff6535;*/
    height: 90vh;
}

.home-image{
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.5rem;
    padding-right: 10rem;
}
.home .home-image .kirubelImage{
    width: 100%;
    min-width: 300px;
    max-width: 490px;
    z-index: 10;
}

.home .home_shadow
{
    position: absolute;
    width: 67%;
    height: 100%;
    background: var(--container-color);
    border: 4px solid var(--black-color);
    top: 1.7rem;
    /*left: 2rem;*/
    right: 8rem;
    z-index: -1;
}
.home_name{
    order: -1;
    font-size: var(--title-text);
    font-weight: bold;
    top: 0;
}
.home-image .geometric-box{
    left: 10rem;
    top: 10rem;
}
.home .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .content p{
    position: relative;
    font-size: var(--medium-text);
    margin-bottom: 2.9rem;
    margin-top: 10rem;
    padding-right: .3rem;
    word-spacing: 2.7px;
}
.invert{
    filter: invert(1);
}
/*Scroll Down*/
.home_scroll{
    display: flex;
    margin-top: 80px;
    align-items: center;

}
.home_scrollBox{
    display: flex;
    justify-content: center;
    background: var(--black-color);
    padding: 0.5rem 1.4rem;
    font-size: var(--title-text);
    overflow: hidden;
    transition: all 0.4s;
    color: var(--white-color);

}
.home_scrollBox i {
    animation: scroll-down 2s infinite;
    font-size: var(--title-text);
}
.scrollDown_text{
    color: var(--black-color);
    font-size: var(--medium-text);
    font-weight: bold;
    margin-top: .5rem;
    margin-left: 1rem;
}



.home_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -1;
    margin-right: 3rem;
}
.home_logo .logo{
    font-size: 5rem;
    color: var(--body-color);
    padding: .3rem;
    background: var(--black-color-light);
    margin-left: 2.7rem;
    margin-bottom: 1rem;
    transition: all 0.5s ease;
}

.home_logo .logo:hover{
    color: var(--white-color);
    background-color: var(--black-color);
}
/*                About me Section                   */

.about
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 5rem;
}
         /*The about Image*/
.about-image{
    position: relative;
    padding: 2rem 0;
    margin-bottom: 8rem;
}
.aboutImage{
    min-width: 250px;
    max-width: 450px;
    z-index: 100;
}
.aboutImage img{
    z-index: 100;
}
.aboutShadow{
    position: absolute;
    background: var(--white-color);
    border-bottom: 3px solid var(--first-color);
    width: 100%;
    height: 110%;
    top: -3rem;
    left: 5rem;
    z-index: -12;

}
.about .content{

    width: fit-content;
    height: fit-content;
}

.aboutMeTitle h1{
    font-size: var(--title-text);
    margin-bottom: 13rem;
    text-align: center;
}
.about .content p{
    font-size: var(--medium-text);
    word-spacing: 2.8px;
    margin-bottom: 2rem;
}
.about .content ul{
    list-style-type:none ;
}
.about .content ul li{
 font-size: var(--small-font-size);
 padding: 0 .1rem;
}

.about .content ul li span{
    font-size:var(--normal-font-size);
    font-weight: bold;
}
.about .random-lines{
    position: absolute;
    z-index: -11;
    bottom:32rem;
    right: 6rem;
}

.about .geometric-box{
    top: 0;
    right: -60px;
}
.about-contact{
    display: flex;
    width: fit-content;
    margin-top: 5rem;

}
.aboutContact{
    position: relative;
    display: flex;
    cursor:pointer;
    transition: all 0.3s ease;
    margin-right: 5rem;
    padding-top: 14px;
}
.aboutContact:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}
.aboutContact i{
    margin: .8rem;
    font-size:var(--normal-font-size);
}
.aboutContact p{
    font-size: var(--medium-text);
    padding-right: 1rem;
    position: relative;
    top: 0.5rem;
    text-align: center;
}
.about-contact a{
    border: 2px solid var(--black-color);
    padding: 0.2rem 1rem;
    font-size: 5rem;
    color: var(--black-color);
    transition: border 0.2s ease;
}
.about-contact a:hover{
    border-color:#72b2d4;
}
.about-telegram {
    display: flex;
    align-items: center;
}
.about-telegram i{
    color: #72b2d4;
}

/*================================Pricing  section========================================*/
.pricing-headerText{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 5.5rem;
}
.pricing-col .see-more-div{
    position: absolute;
    right: 25%;     
    bottom: 1rem;   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.pricing-col .see-more{


    background: var(--black-color);
    text-align: center;
    font-size: var(--heading1-text);

    transition: all 0.2s ease;
    padding: 10px 16px;
}
.pricing-col .see-more:hover
{
    background: var(--white-color);
}
.pricing-col .see-more a{
    color: var(--white-color);
}
.pricing-col .see-more:hover a {
    color: var(--black-color);
}
/*For the margin for the see more to go down more*/
.bottom-price{
    margin-bottom: 2rem;
}
.pricing .pricing-row{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap:2rem ;
    justify-content: center;
}
.pricing-col{
    position: relative;
    padding: 6rem 0 6rem 1.6rem; /* Adjust padding for smaller screens */
    border: 2px solid var(--black-color);
    background: var(--white-color);
    transition: all 0.4s ease;
    cursor: pointer;
    height: 100%;
    width: 95%;
}
.pricing-col:hover{
    transform: translateY(-7px);
    background: var(--container-color);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 1);
}

.pricing-col h3{
    text-align: center;
    margin-bottom: 1.6rem;
    font-size: var(--biggest-font-size);

}
.pricing-col:hover h3{
    color: var(--first-color);

}

.pricing-col p{
    font-size: var(--normal-font-size);
    margin: 2rem 0;
    transition: all 0.1s ease;
    line-height: 2rem;

}
.pricing-col p i {
    color: green;
    margin-right: 0.4rem;
}



/*=====================================Footer=========================================*/

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 1.7rem;
    background: var(--black-color);
    margin-top: 7rem;
}
.footer p{
    color: var(--black-color-light);
    font-size: var(--medium-text);
    cursor: pointer;

}
.footer p span
{
    color: var(--white-color);
}
.footer a{
    font-size: var(--body-text);
    margin: 1.5rem;
    color: var(--white-color);
    transition: all 0.2s ease;
}
.footer a:hover{
    color: var(--black-color-light);
}
.footer_scroll{
    transition: all 0.4s ease;

}
.footer_scroll i {
    animation: scroll-down 2s infinite;
    font-size: var(--h3-font-size);
}



/*Keyframe for the down button*/
@keyframes scroll-down {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1; /* Set opacity to 0 at 50% keyframe */
    }
    100% {
        transform: translateY(.6rem);
        opacity: 0;
    }
}


/*Nav media for the navbar for smaller screens */


@media only screen and (max-width: 1020px){

#menu_btn{
    font-size: 4.3rem;
    display: block;
    margin-left: 24rem;
}

    .navbar{
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
        background: var(--container-color);
        width: 100vw;
        transition: 0.5s;
        overflow: hidden;
        height:0;
        padding: 4rem;
        opacity: 0;
        z-index: 1000;
    }
    .navbar a{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        font-size: 3rem;
        opacity: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .mainSection {
        padding: 0 70px;
    }

    .header {
        gap: 25rem;
    }

    .header .logo {

        font-size: 3.2rem;
    }

    .header .navbar a {
        font-size: 2.4rem;
        margin: 0 1.8rem;
    }

    /*============================Home @media====================================================  */
    @media only screen and (min-width: 1000px) {
        :root{
            --title-text:4.6rem;
        }
        }
        .home {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            /*margin-top: 25rem;*/

        }

        .home .home_name {
            position: absolute;
            top: 10rem;
        }

        .home .home-image {
            order: 1;
            padding-right: 0;
        }
        .home .home_shadow
        {
            position: absolute;
            width: 74%;
            height: 100%;
            background: var(--container-color);
            border: 4px solid var(--black-color);
            top: 1rem;
            left: 2rem;
            z-index: -1;
        }

        .home .home-image .kirubelImage {
            min-width: 300px;
        }

        .home .home_logo a {
            font-size: var(--biggest-font-size);
        }

    .home .content{
        align-items: unset;
    }
        .home .content h2 {
            font-size: 2.8rem;
            margin-top: 7rem;

        }

        .home .home_logo {
            order: 1;
        }
      .home_scroll{
        margin-top: 0;

    }

        .home .scrollDown_text {
            font-size: 2.5rem;
        }

        .home_scrollBox i {
            font-size: 2.7rem;
        }

        /* ==========================About=============================*/
        .about {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .aboutImage {
            min-width: 200px;
            max-width: 300px;
            position: relative;
            left: 0;
        }

        .about .content{
            padding: 0 3rem;
            padding-left: 7rem;
        }
        .about .content h1 {
            font-size: var(--h1-font-size);
            margin: 0;
        }

        .about .content p {
            font-size: 2.6rem;
        }

        .about .content ul li {
            font-size: 2.7rem;
        }

        .about .content ul li span {
            font-size: 3rem;
        }

        /* =================================pricing  media=======================================*/
        .pricing .pricing-row {
            grid-template-columns: repeat(auto-fit, minmax(400px, 0.85fr));

        }

        .pricing-col .see-more {
            font-size: var(--normal-font-size);
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }

        .pricing-col p {
            font-size: var(--normal-font-size);
            margin-bottom: 2.5rem;
        }

        /*===================================Footer==================================================*/
        .footer {
            padding: 1.1rem 1.2rem;
        }

        .footer p {
            font-size: var(--h2-font-size);
        }

        .footer .footer-nav a {
            font-size: 1.9rem;
            padding: 0 1rem;
        }


    }
    .aboutImage {
        min-width: 200px;
        max-width: 300px;
        position: relative;
        left: 0;
    }

    .about .content h1 {
        font-size: 4rem;
        margin: 0;
    }

    .about .content p {
        font-size: 2.6rem;
    }

    .about .content ul li {
        font-size: 2.7rem;
    }

    .about .content ul li span {
        font-size: 3rem;
    }

    /* =================================pricing  media=======================================*/
    .pricing .pricing-row {
        grid-template-columns: repeat(auto-fit, minmax(400px, 0.85fr));

    }

    .pricing-col .see-more {
        font-size: 2.4rem;
        margin: 0 auto;
        text-align: center;
    }

    .pricing-col p {
        font-size: 2.75rem;
        margin-bottom: 2.5rem;
    }

    /*===================================Footer==================================================*/
    .footer {
        padding: 1.1rem 1.2rem;
    }

    .footer p {
        font-size: 1.9rem;
    }

    .footer .footer-nav a {
        font-size: 1.9rem;
        padding: 0 1rem;
    }




@media only screen and (min-width: 1400px) {
.mainSection{
    padding: 0 170px;
}
    .header{
        gap: 45rem;
    }

    .home .content h2 {
        font-size: 2.8rem;
        margin-top: 2rem;

    }
    :root{
        --title-text:5.5rem;
    }
}



/*@media screen and (max-width: 768px) {*/


/*    !*.home .content h2 {*!*/
/*    !*    font-size: 5rem;*!*/
/*    !*    padding-right:.1rem;*!*/
/*    !*}*!*/
/*    .home .content h1{*/
/*        font-size: 2rem;*/
/*    }*/

/*}*/

/* Media query for extra small screens (up to 576px) */
/*Nav Media*/



/*About media*/

