:root{
    --contact-text-color: hsl(0, 2%, 89%);
}
.section-title{
    font-size: 4rem;
}
#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 130px;
}
#projects .content{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-container{
    background-color: rgba(255, 255, 255, 0);
    padding: 15px;
    padding-bottom: 30px;
}
.project-container:hover{
    background-color: rgba(255, 255, 255, 0.65);
}
.project-container .img-container{

}
.project-container img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position: top right;
}
.project-container .link-button{
    background-color: rgb(38, 37, 37);
    padding: 15px 18px;
    position: absolute;
    transform: translateX(330px) translateY(-30px);
    color: white;
    font-size: 20px;
}
.project-container .link-button:hover {
    background-color: rgb(0, 0, 0);

}
.project-container .hired-by-name{
    font-size: 1.4rem ;
}
.project-container .project-information{
    margin-top: 15px;
    max-width: 400px;
}
.project-container .project-information .description{
    margin-top: 10px;
    font-size: 1.5rem;
    color: #4f4e4e;
}
.project-container .other-links{
    margin-top: 20px;
}
.other-links .logo{
    color: rgba(0, 0, 0, 0.69);
}
.other-links .logo:hover{
    color: rgb(0, 0, 0);
}
.other-links .logo::after{
    content: " View";
    font-size: 15px;
    float: revert;
}




/*Contact section*/
#contact-me{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#contact-me .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
#contact-me .section-title{
    transform: translateX(-90px);
    width: 250px;
}
.form-info{
    transform: translateX(30px);
    padding: 60px 50px;
    background: linear-gradient(to bottom, rgb(206, 205, 205) 98%, #ff6535 98% );
}
#contact-me .form-info p{
    margin-top: 30px;
    font-size: 15px;
    max-width: 300px;
}
.form{
    padding: 200px 100px;
    background-color: #000000;
    width: 60%;
}
.form div{
    width: 100%;
}
.form h1{
    color: var(--contact-text-color);
    margin-bottom: 40px;
    font-size: 1.8rem;
}
.form .info-input{
    display: flex;
    gap: 20px;

}
.form .text-input{
    padding: 15px;
    border: rgba(255, 255, 255, 0.72) solid 1px;
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
.form label{
    position: absolute;
    margin-top: -7px;
    margin-left: 10px;
    padding: 0 5px;
    color: var(--contact-text-color);
    background-color: #000000;
    font-size: 1.3rem;
}
.send-button button{
    padding: 16px 18px;
    background-color: #ff6535;
    color: var(--contact-text-color);
}
.send-button button:hover{
    background-color: #ff3523;
}
@media screen and (max-width: 1020px) {
    .project-container img{
        width: 500px;
        height: 300px;

    }
    .project-container .link-button{
        transform: translateX(400px) translateY(-30px);
    }

    #contact-me .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form-info{
        transform: translateY(80px);
    }

    .form{
        padding: 200px 100px;
        background-color: #000000;
        width: 100%;
    }
}
